@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
  box-sizing: border-box;
  /* font-family: montserrat; */
}

@font-face {
  font-family: montserrat;
  src: url(../public/Fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: poppins;
  src: url(../public/Fonts/poppins/Poppins-Regular.ttf);
}


@font-face {
  font-family: openSans;
  src: url(../public/Fonts/openSans/OpenSans-Regular.ttf);
}

/* home section styles */
.hero-gradient {
  background: linear-gradient(111deg, #FBFEFF 40.41%, #E1F2FB 98.68%);
}

.contact-us-gradient {
  background: linear-gradient(92deg, #036 34.91%, rgba(200, 50, 1, 0.54) 100.95%);
}

.programme-section-gradient {
  background: linear-gradient(114deg, #036 35.06%, #005EBC 115.34%);
}

@media screen and (max-width: 640px) {
  .contact-us-gradient {
    background: linear-gradient(114deg, #036 35.06%, #005EBC 115.34%);
  }
}



/* .instagram:hover {
  color: radial-gradient(circle, #8A3AB9, #FF5757);
} */

::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #F5F5F5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C83201;
  /* border-radius: 10px; */

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #872302;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* for loading Animation */
.blob {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

.blob.loading {
  background: white;
  box-shadow: 0 0 0 0 white;
  animation: pulse-logo 2.2s infinite;
}

@keyframes pulse-logo {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #003366;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 30px rgba(255, 121, 63, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
  }
}

.loader {
  width: 180px;
  height: 180px;
  background: transparent;
  border: 3px solid #0033668a;
  border-radius: 50%;
  color: #003366;
  text-shadow: 0 0 10px #003366;
  box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.loader::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 104%;
  height: 104%;
  border: 3px solid transparent;
  border-top: 3px solid #003366;
  border-right: 3px solid #003366;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

.loader span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

.loader span::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #003366;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px 5px #003366;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}