@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
  box-sizing: border-box;
  /* font-family: montserrat; */
}

@font-face {
  font-family: montserrat;
  src: url(../public/Fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: poppins;
  src: url(../public/Fonts/poppins/Poppins-Regular.ttf);
}


@font-face {
  font-family: openSans;
  src: url(../public/Fonts/openSans/OpenSans-Regular.ttf);
}

/* hero section styles */
.hero-gradient {
  background: linear-gradient(111deg, #FBFEFF 40.41%, #E1F2FB 98.68%);
}

/* .instagram:hover {
  color: radial-gradient(circle, #8A3AB9, #FF5757);
} */

::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #F5F5F5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C83201;
  /* border-radius: 10px; */

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #872302;
}